/*------
main form
---------------*/
#main_form{
  padding-bottom:1em;
  background:#fff;
  padding-left:1em;
  h1{
    font-weight:$font-weight--ultra-bold;
    margin:1em 0;
    font-size:1.75em;
  }
  h2{
    text-transform:uppercase;
    font-size:0.75em;
    margin-bottom:1.5em;
    border-bottom:1px solid $grey;
    width:97%;
    color:$grey; 
    font-family:$font-family--primary;
    color:$dim_grey;
  }
  section{
    ul{
      li{
        margin-bottom:1em;
        label{
          display:block;
          text-transform:uppercase;
          font-weight:$font-weight--thin;
          font-size:0.85em;
        }
      }
    }
  }
  input:not([type="submit"]):not([type="button"]):not([type="file"]){
    border:1px solid #ccc;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0.1em 0.5em;
    font-size: 1em;
    text-decoration: none;
    line-height: 2em;
    height: 2em;
    max-height: 3em;
    margin-bottom: .5em;
    border-radius: 4px;
    width: 95%;
  }

  input[type="file"]{
    display:none;
  }
  
  #button_submit{
    background:$blue;
    border:0;
    &:hover{
      background:darken($blue,10);
    }
  }

  #button_file{
    @extend #button_submit;
    background:$dim_grey;
    &:hover{
      background:darken($dim_grey,20);
    }
  }
}